html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex; /* Flexbox cho container */
  justify-content: center; /* Căn giữa nội dung ngang */
  align-items: center; /* Căn giữa nội dung dọc */
  height: 100vh;
  width: 70%; /* Full width */
  background-color: #1488DB;
}

.SignIn {
  display: flex; /* Flexbox cho container */
}

.logo {
  height: 100vh;
  width: 30%; 
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center; /* Center text inside children, if applicable */
}

.image {
  width:238px; 
  height: 240px;
  position: relative;
  margin: 0 auto;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/HCMUT_official_logo.png/891px-HCMUT_official_logo.png');
  background-size: cover;
  background-position: center;
  transform: scale(1.2); /* Scale up the avatar */
  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.text { 
  font-size: 30px;
  color: #1488db;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  position: relative;
  text-align: center; 
  padding: 5%;
}


.loginSection {
  background-color: #ffffff;
  padding: 30px 140px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 30px;
  color: #1488db;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  position: relative;
  top: -20px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: -15px;
}

.label {
  color: #1488db;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}

.input {
  width: 340px;
  padding: 12px;
  border-radius: 10px;
  background-color: #cacaca;
  border: #cacaca;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 500;
  font-size: 16px;
}

.submitButton {
  padding: 15px;
  background-color: #1488db;
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  position: relative;
  top: 13px;
  width: 150px;
  margin: auto;
}

.submitButton:hover {
  background-color: #1056c7;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.link {
  color: #1488db;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.link:hover {
  text-decoration: underline;
}
